@{
    LaptopShopMVC.Models.LaptopDBContext context = new LaptopShopMVC.Models.LaptopDBContext();
    string tendangnhap = User.Identity.Name;
    LaptopShopMVC.Models.TAIKHOANQUANTRI taiKhoanDangNhap = context.TAIKHOANQUANTRIs.FirstOrDefault(p => p.TENDANGNHAP.Contains(tendangnhap));
    //string role = taiKhoanDangNhap.PHANQUYEN.TENPHANQUYEN;
    var role = Session["role"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin Pages</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="@Url.Action("Index", "HomeAdmin")">Admin Areas</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            LaptopShopMVC.Models.LaptopDBContext db = new LaptopShopMVC.Models.LaptopDBContext();
                            LaptopShopMVC.Models.TAIKHOANQUANTRI taikhoan = db.TAIKHOANQUANTRIs.FirstOrDefault(p => p.TENDANGNHAP.Contains(@User.Identity.Name));
                            if (taikhoan != null)
                            {
                                <li><a class="dropdown-item" href="#!">@taikhoan.NHANVIEN.TENNHANVIEN</a></li>
                                <li><a class="dropdown-item" href="#!">@taikhoan.NHANVIEN.CHUCVU</a></li>
                                <li><a class="dropdown-item" href="https://app.chatra.io/conversations/new">Chatra.io</a></li>
                            }
                        }
                        else
                        {
                            <text>Welcome, @User.Identity.Name!</text>
                        }
                    }
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="@Url.Action("LogOff", "HomeAdmin")">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="@Url.Action("Index", "HomeAdmin")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">TÁC VỤ</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Quản Lý Thông Tin
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Index", "DANHMUCs", new { area = "Admin" })">Danh Mục</a>
                                <a class="nav-link" href="@Url.Action("Index", "THUONGHIEUx", new { area = "Admin" })">Thương Hiệu</a>
                                <a class="nav-link" href="@Url.Action("Index", "SANPHAMs", new { area = "Admin" })">Sản Phẩm</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Quản Trị Nhân Sự
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Nhân Viên
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link admin-link" href="@Url.Action("Index", "PHANQUYENs", new { area = "Admin" })">Phân Quyền</a>
                                        <a class="nav-link admin-link" href="@Url.Action("Index", "NHANVIENs", new { area = "Admin" })">Nhân Viên</a>
                                        <a class="nav-link admin-link" href="@Url.Action("Index", "TAIKHOANQUANTRIs", new { area = "Admin" })">Tài Khoản</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                    Khách Hàng
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("Index", "KHACHHANGs", new { area = "Admin" })">Thông tin</a>
                                        <a class="nav-link" href="@Url.Action("Index", "TAIKHOANKHACHHANGs", new { area = "Admin" })">Tài Khoản</a>
                                        <a class="nav-link" href="@Url.Action("Index", "DANHGIAs", new { area = "Admin" })">Đánh giá</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Giao Dịch</div>
                        <a class="nav-link" href="@Url.Action("Index", "DONHANGs", new { area = "Admin" })">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Đơn hàng
                        </a>
                        <a class="nav-link" href="@Url.Action("Index", "CHITIETDONHANGs", new { area = "Admin" })">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Chi tiết đơn hàng
                        </a>
                        <a class="nav-link" href="@Url.Action("Index", "PHIEUBAOHANHs", new { area = "Admin" })">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Phiếu bảo hành
                        </a>
                        <a class="nav-link" href="@Url.Action("Index", "PHIEUNHAPHANGs", new { area = "Admin" })">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Phiếu nhập hàng
                        </a>
                        <a class="nav-link" href="@Url.Action("Index", "CHITIETPHIEUNHAPHANGs", new { area = "Admin" })">
                            <div class="sb-nav-link-icon"><i class="fa-sharp fa-light fa-cart-shopping"></i></div>
                            Chi tiết PNH
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Adminstrator</div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        LaptopShopMVC.Models.LaptopDBContext db = new LaptopShopMVC.Models.LaptopDBContext();
                        LaptopShopMVC.Models.TAIKHOANQUANTRI taikhoan = db.TAIKHOANQUANTRIs.FirstOrDefault(p => p.TENDANGNHAP.Contains(@User.Identity.Name));
                        if (taikhoan != null)
                        {
                            <text>Welcome, @taikhoan.NHANVIEN.TENNHANVIEN!</text>
                        }
                    }
                    else
                    {
                        <text>Welcome, @User.Identity.Name!</text>
                    }
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            @RenderBody()
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Areas/Admin/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/Areas/Admin/assets/demo/chart-area-demo.js"></script>
    <script src="~/Areas/Admin/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/Areas/Admin/js/datatables-simple-demo.js"></script>
    <script src="https://kit.fontawesome.com/4f23b044a9.js" crossorigin="anonymous"></script>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@*<script>
    document.getElementById('admin-link').addEventListener('click', function (event) {
        event.preventDefault();

        var user = '@role';

        if (user === 'admin') {
            window.location.href = event.target.href;
        } else {
            // Code for non-admin access
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'You are not authorized as an admin.'
            })
        }
    });
</script>*@

<script>
    var user = '@role'; 
    var links = document.getElementsByClassName('admin-link');

    for (var i = 0; i < links.length; i++) {
        links[i].addEventListener('click', function (event) {
            event.preventDefault(); 

            if (user === 'admin') {
                window.location.href = event.target.href;
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'You are not authorized as an admin.'
                })
            }
        });
    }
</script>
