@model LaptopShopMVC.Models.TAIKHOANKHACHHANG

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="computer_main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h2>ĐỔI MẬT KHẨU</h2>
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TENDANGNHAP)
            <div class="form-group">
                <h4>Mã Khách Hàng</h4>
                <div class="col-md-10">
                    @Html.DropDownList("MAKHACHHANG", null, htmlAttributes: new { @class = "custom-dropdownlist" })
                    @Html.ValidationMessageFor(model => model.MAKHACHHANG, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h4>Nhập mật khẩu mới</h4>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.MATKHAU, new { @class = "custom-password" } )
                </div>
            </div>
            <div class="form-group">
                <h4>Xác nhận mật khẩu</h4>
                <div class="col-md-10">
                    <input style="width: 300px;height: 40px;" type="password" id="XacNhanMatKhau" class="compare-input" />
                </div>
            </div>
            <div id="comparisonResult"></div>
            <div class="form-group">
                <div>
                    <button class="btn btn-success" type="submit" id="saveButton" style="float: left;display: none;">Save</button>
                </div>
            </div>
        </div>
    }
</div>





@section scripts {
    <script>
        function compareValues() {
            var value1 = document.getElementById('MATKHAU').value;
            var value2 = document.getElementById('XacNhanMatKhau').value;

            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{6,8}$/;
            if (!regex.test(value1)){
                document.getElementById('comparisonResult').innerHTML = "Mật khẩu phải có độ dài từ 6 - 8 kí tự, có ít nhất 1 kí tự hoa, 1 kí tự thường, 1 kí tự đặc biệt";
                document.getElementById('saveButton').style.display = "none";
            }
            else if (value1 === value2) {
                document.getElementById('comparisonResult').innerHTML = "";
                document.getElementById('saveButton').style.display = "block";
            } else {
                document.getElementById('comparisonResult').innerHTML = "Xác nhận mật khẩu không hợp lệ!";
                document.getElementById('saveButton').style.display = "none";
            }
        }
        var inputField = document.querySelector('.compare-input');
        var typingTimer;
        var doneTypingInterval = 500; // Adjust the delay as needed

        inputField.addEventListener('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(compareValues, doneTypingInterval);
        });
    </script>
}

<style>
    .custom-password {
        width: 300px; /* Adjust the desired width */
        height: 40px;
        /* Adjust the desired height */
        /* Add any other custom styles as needed */
    }
    .custom-dropdownlist {
        width: 300px; /* Adjust the desired width */
        height: 40px; /* Adjust the desired height */
        /* Add any other custom styles as needed */
    }
    .computer_main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
