@model LaptopShopMVC.Models.KHACHHANG
@{
    ViewBag.Title = "checkOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string TongTien = "0.00";
    int stt = 1;
}

@{
    var context = new LaptopShopMVC.Models.LaptopDBContext();
    List<LaptopShopMVC.Extras.cart> mainlist = (List<LaptopShopMVC.Extras.cart>)Session["cart"];
    List<LaptopShopMVC.Extras.ViewCart> viewlist = new List<LaptopShopMVC.Extras.ViewCart>();
    LaptopShopMVC.Models.TAIKHOANKHACHHANG taiKhoanKH = context.TAIKHOANKHACHHANGs.FirstOrDefault(p => p.TENDANGNHAP.Contains(User.Identity.Name));

    if (mainlist != null)
    {
        foreach (var item in mainlist)
        {
            LaptopShopMVC.Extras.ViewCart obj = new LaptopShopMVC.Extras.ViewCart();
            LaptopShopMVC.Models.SANPHAM sanPham = context.SANPHAMs.Where(p => p.MASANPHAM == item.maSanPham).FirstOrDefault();
            obj.MASANPHAM = sanPham.MASANPHAM;
            obj.TENSANPHAM = sanPham.TENSANPHAM;
            obj.SOLUONG = item.soLuong;
            obj.HINH = sanPham.HINH;
            obj.GIABAN = sanPham.GIABAN;
            obj.TONGTIEN = Convert.ToString(item.soLuong * Convert.ToDouble(sanPham.GIABAN));
            
            viewlist.Add(obj);
        }

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Hình Sản Phẩm</th>
                    <th>Giá Bán</th>
                    <th>Số Lượng</th>
                    <th>Tổng Tiền</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in viewlist)
                {
                    <tr>
                        <td>@stt</td>
                        <td>@item.TENSANPHAM</td>
                        <td><img src="@item.HINH" height="200" width="300" /></td>
                        <td>@item.GIABAN.ToString("#.####").Replace(",", "")</td>
                        <td>@item.SOLUONG</td>
                        <td>@item.TONGTIEN</td>
                    </tr>
                    stt++;
                    TongTien = Convert.ToString(Convert.ToDouble(TongTien) + Convert.ToDouble(item.TONGTIEN));
                }
                <tr>
                    <td style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Tổng Tiền : </td>
                    <td style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">@TongTien VND</td>
                </tr>
            </tbody>
        </table>

    }
    else
    {
        <div class="btn btn-close">
            @Html.ActionLink("Return", "ViewCart", null, new { style = "color: white;" })
        </div>
    }

}
<table class="table table-hover">
    <thead>
        <tr>
            <td>DANH MỤC</td>
            <td>THÔNG TIN KHÁCH HÀNG</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Tên Khách Hàng:
                <br />
                Email:
                <br />
                CCCD:
                <br />
                Ngày Sinh:
                <br />
                Đại Chỉ:
                <br />
                Số Điện Thoại
                <br />
            </td>
            <td>
                @Html.DisplayFor(model => model.TENKHACHHANG)
                <br />
                @Html.DisplayFor(model => model.EMAIL)
                <br />
                @Html.DisplayFor(model => model.CCCD)
                <br />
                @Html.DisplayFor(model => model.NGAYSINH)
                <br />
                @Html.DisplayFor(model => model.DIACHI)
                <br />
                @Html.DisplayFor(model => model.SDT)
                <br />
            </td>
        </tr>
    </tbody>
</table>



    
<br />
<tr>
    <td><a href="@Url.Action("EditKhachHang", "Home", new {id = taiKhoanKH.KHACHHANG.MAKHACHHANG})" class="btn btn-outline-info"> <i class="fa-solid fa-user"></i> Chỉnh sửa thông tin</a></td>
    <td><a href="@Url.Action("order", "Home")" class="btn btn-success fa-bounce"><i class="fa-brands fa-cc-amazon-pay"></i> VNPAY</a> </td>
    <td><a href="@Url.Action("datHang", "Home")" class="btn btn-success fa-bounce"> <i class="fa-solid fa-cart-shopping"></i> Đặt hàng</a></td>
</tr>

<style>
    .back-button {
        padding: 8px 16px;
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        background-color: #007bff;
        border-radius: 4px;
    }

    td{
        font-size: 18px;
    }
</style>
