@model LaptopShopMVC.Models.SANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DANHMUC.TENDANHMUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DANHMUC.TENDANHMUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THUONGHIEU.TENTHUONGHIEU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUONGHIEU.TENTHUONGHIEU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENSANPHAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSANPHAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CARDMANHINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARDMANHINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THOIGIANBAOHANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOIGIANBAOHANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIABAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIABAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIANHAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIANHAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTRANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MASANPHAM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
