@model IEnumerable<LaptopShopMVC.Models.SANPHAM>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner section start -->
<div class="banner_section layout_padding">
    <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row border-0">
                        <div class="col-lg-2">
                            <div class="image_1"><img src="" style="width:100%"></div>
                        </div>
                        <div class="col-md-4">
                            <h1 class="banner_taital">Big Sale Offer</h1>
                            <div class="buynow_bt active"><a href="#">Buy Now</a></div>
                            <div class="contact_bt"><a href="contact.html">Contact Us</a></div>
                        </div>
                        <div class="col-md-4">
                            <div class="image_2"><img src="~/images/laptop-img.png" style="width:90%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row border-0">
                        <div class="col-md-2">
                            <div class="image_1"><img src="" style="width:100%"></div>
                        </div>
                        <div class="col-md-4">
                            <h1 class="banner_taital">Big Sale Offer</h1>
                            <div class="buynow_bt active"><a href="#">Buy Now</a></div>
                            <div class="contact_bt"><a href="contact.html">Contact Us</a></div>
                        </div>
                        <div class="col-md-4">
                            <div class="image_2"><img src="~/images/mac-img.png" style="width:90%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!-- banner section end -->


@{
    LaptopShopMVC.Models.LaptopDBContext db = new LaptopShopMVC.Models.LaptopDBContext();
    var thuongHieu = db.THUONGHIEUx.ToList();

    int dem = 0;
    <div class="computers_section layout_padding">
        <div class="container">
            <h1 class="computers_taital">APPLE</h1>
        </div>
    </div>
    <div class="computers_section_2">
        <div class="container-fluid">
            <div class="computer_main">
                <div class="row">
                    @{
                        var listSPApple = db.SANPHAMs.Where(p => p.THUONGHIEU.TENTHUONGHIEU.Contains("APPLE")).ToList();
                        if (listSPApple != null)
                        {
                            foreach (var item in listSPApple)
                            {

                                if (dem <= 3)
                                {
                                    <div class="col-md-4">
                                        <div class="computer_img"><img src="@item.HINH"></div>
                                        <h4 class="computer_text"><a href="@Url.Action("viewDetail",new {maSanPham = @item.MASANPHAM })">@item.TENSANPHAM</a></h4>
                                        <div class="computer_text_main">
                                            <h6 class="rate_text"><a>@item.GIABAN.ToString("#.####").Replace(",", "") VND</a></h6>
                                            @{
                                                decimal giaAo = @item.GIABAN + (@item.GIABAN * 10 / 100);
                                            }
                                            <h6 class="rate_text_1"><a>@giaAo.ToString("#.####").Replace(",", "")</a></h6>
                                        </div>
                                        <div class="cart_bt_1"><a style="cursor: pointer;" onclick="addToCart(@item.MASANPHAM)">Add To Cart</a></div>
                                    </div>
                                    dem++;
                                }
                                dem = 0;
                            }
                        }

                    }
                </div>
            </div>
        </div>
    </div>

    <div class="computers_section layout_padding">
        <div class="container">
            <h1 class="computers_taital">DELL</h1>
        </div>
    </div>
    <div class="computers_section_2">
        <div class="container-fluid">
            <div class="computer_main">
                <div class="row">
                    @{
                        var listSPDell = db.SANPHAMs.Where(p => p.THUONGHIEU.TENTHUONGHIEU.Contains("DELL")).ToList();
                        if (listSPDell != null)
                        {
                            foreach (var item in listSPDell)
                            {

                                if (dem <= 3)
                                {
                                        <div class="col-md-4">
                                            <div class="computer_img"><img src="@item.HINH"></div>
                                            <h4 class="computer_text"><a href="@Url.Action("viewDetail",new {maSanPham = @item.MASANPHAM })">@item.TENSANPHAM</a></h4>
                                            <div class="computer_text_main">
                                                <h6 class="rate_text"><a>@item.GIABAN.ToString("#.####").Replace(",", "") VND</a></h6>
                                                @{ 
                                                    decimal giaAo = @item.GIABAN + (@item.GIABAN * 10 / 100);
                                                }
                                                <h6 class="rate_text_1"><a>@giaAo.ToString("#.####").Replace(",", "")</a></h6>
                                            </div>
                                            <div class="cart_bt_1"><a style="cursor: pointer;" onclick="addToCart(@item.MASANPHAM)">Add To Cart</a></div>
                                        </div> 
                                    dem++;
                                }
                                dem = 0;
                            }
                        }

                    }
                </div>
            </div>
        </div>
    </div>

}




