@model IEnumerable<LaptopShopMVC.Models.SANPHAM>

@{
    ViewBag.Title = "SearchingResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="computers_section layout_padding">
    <div class="container">
        <h1 class="computers_taital">THÔNG TIN SẢN PHẨM PHÙ HỢP</h1>
    </div>
</div>
@{
    <div class="computers_section_2">
        <div class="container-fluid">
            <div class="computer_main">
                <div class="row">
                    @{foreach (var i in Model)
                        {
                        <div class="col-md-4">
                            <div class="computer_img"><img src="@i.HINH"></div>
                            <h4 class="computer_text"><a href="@Url.Action("viewDetail",new {maSanPham = @i.MASANPHAM })">@i.TENSANPHAM</a></h4>
                            <div class="computer_text_main">
                                <h6 class="rate_text"><a>@i.GIABAN.ToString("#.####").Replace(",", "") VND</a></h6>
                                @{
                                    decimal giaAo = @i.GIABAN + (@i.GIABAN * 10 / 100);
                                }
                                <h6 class="rate_text_1"><a>@giaAo.ToString("#.####").Replace(",", "")</a></h6>
                            </div>
                            <div class="cart_bt_1"><a style="cursor: pointer;" onclick="addToCart(@i.MASANPHAM)">Add To Cart</a></div>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}
