@model LaptopShopMVC.Models.KHACHHANG

@{
    ViewBag.Title = "viewProfileAndChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    LaptopShopMVC.Models.LaptopDBContext context = new LaptopShopMVC.Models.LaptopDBContext();
    LaptopShopMVC.Models.TAIKHOANKHACHHANG taikhoan = context.TAIKHOANKHACHHANGs.FirstOrDefault(p => p.MAKHACHHANG == Model.MAKHACHHANG);
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="computer_main">
                <div class="card-header">
                    <p class="text-center" style="font-size: 30px">Profile Detail</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Tên khách hàng:</label>
                            <input type="text" class="form-control" id="name" placeholder="@Model.TENKHACHHANG" readonly>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="@Model.EMAIL" readonly>
                        </div>
                        <div class="form-group">
                            <label for="phone">Căn cước công dân:</label>
                            <input type="tel" class="form-control" id="cccd" placeholder="@Model.CCCD" readonly>
                        </div>
                        <div class="form-group">
                            <label for="phone">Ngày sinh:</label>
                            <input type="tel" class="form-control" id="ngaysinh" placeholder="@Model.NGAYSINH" readonly>
                        </div>
                        <div class="form-group">
                            <label for="phone">Địa chỉ:</label>
                            <input type="tel" class="form-control" id="phone" placeholder="@Model.DIACHI" readonly>
                        </div>
                        <div class="form-group">
                            <label for="phone">Số điện thoại:</label>
                            <input type="tel" class="form-control" id="phone" placeholder="@Model.SDT" readonly>
                        </div>
                        <a class="btn btn-primary" href="@Url.Action("Edit", "Home", new {id = Model.MAKHACHHANG})">Sửa đổi</a>
                        <a class="btn btn-primary" href="@Url.Action("ChangePassword", "Home", new {id = taikhoan.TENDANGNHAP})">Đổi mật khẩu</a>
                    </form>
                </div>
</div>
<div class="computer_main">
    <div class="card-header">
        <p class="text-center" style="font-size: 30px">LỊCH SỬ MUA HÀNG</p>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            THÔNG TIN LỊCH SỬ MUA HÀNG
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Ngày thanh toán</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Email</th>
                        <th>Ngày thanh toán</th>
                        <th>Tổng tiền</th>
                        <th>Tác vụ</th>
                    </tr>
                </tfoot>
                <tbody>
                    @{
                        var listDonHang = context.DONHANGs.Where(p => p.MAKHACHHANG == Model.MAKHACHHANG).ToList();
                        foreach (var item in listDonHang)
                        {
                            <tr>
                                <td>@item.MADONHANG</td>
                                <td>@item.KHACHHANG.TENKHACHHANG</td>
                                <td>@item.KHACHHANG.EMAIL</td>
                                <td>@item.NGAYTHANHTOAN</td>
                                <td>@item.TONGTIEN</td>
                                <td>
                                    @Html.ActionLink("Xem", "viewDetailDonHang", new { id = item.MADONHANG })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
