@model LaptopShopMVC.Models.NHANVIEN

@{
    ViewBag.Title = "viewProfileAndChangePasswordAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Profile Detail</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Tên khách hàng:</label>
                            <input type="text" class="form-control" id="name" placeholder="@Model.TENNHANVIEN" readonly>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="@Model.EMAIL" readonly>
                        </div>
                        <div class="form-group">
                            <label for="phone">Căn cước công dân:</label>
                            <input type="tel" class="form-control" id="cccd" placeholder="@Model.CCCD" readonly>
                        </div>
                        <div class="form-group">
                            <label for="phone">Ngày sinh:</label>
                            <input type="tel" class="form-control" id="ngaysinh" placeholder="@Model.NGAYSINH" readonly>
                        </div>
                        <div class="form-group">
                            <label for="phone">Địa chỉ:</label>
                            <input type="tel" class="form-control" id="phone" placeholder="@Model.DIACHI" readonly>
                        </div>
                        <div class="form-group">
                            <label for="phone">Số điện thoại:</label>
                            <input type="tel" class="form-control" id="phone" placeholder="@Model.SDT" readonly>
                        </div>
                        <a class="btn btn-primary" href="@Url.Action("EditAdmin", "Home", new {id = Model.MANHANVIEN})">Sửa đổi</a>

                    </form>
                </div>
            </div>
        </div>

       
    </div>
</div>
