@model IEnumerable<LaptopShopMVC.Extras.ViewCart>
@{
    int count = 0;
    string TongTien = "0.00";
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên Sản Phẩm</th>
                <th>Hình</th>
                <th>Giá Bán</th>
                <th>Số Lượng</th>
                <th>Tổng Tiền</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MASANPHAM</td>
                    <td>@item.TENSANPHAM</td>
                    <td><img src="~/images/@item.HINH" /></td>
                    <td>@item.GIABAN</td>
                    <td>
                        <span class="h2" onclick="themSoLuong_cart_soLuong(@item.MASANPHAM,@count)" style="cursor:pointer"> + </span>
                        <h2 class="inc_count">@item.SOLUONG</h2>
                        <span class="h2" onclick="giamSoLuong_cart_soLuong(@item.MASANPHAM,@count)" style="cursor:pointer"> - </span>
                    </td>
                    <td>@item.TONGTIEN</td>
                    <td><a href="#" onclick="removeToCart(@item.MASANPHAM)">Remove</a></td>

                </tr>
                count++;
                TongTien = Convert.ToString(Convert.ToDouble(TongTien) + Convert.ToDouble(item.TONGTIEN));
            }
            <tr>
                <td colpan="5"></td>
                <td>Tổng Tiền : </td>
                <td>@TongTien</td>
            </tr>
            <tr>
                <td colpan="3"></td>
                <td><a href="@Url.Action("checkOut", "Home")" class="btn btn-success rounded-0">Đặt Hàng</a> </td>
                <td colpan="3"></td>
            </tr>

        </tbody>
    </table>

