@model IEnumerable<LaptopShopMVC.Models.TAIKHOANQUANTRI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2 style="text-align:center">Tài Khoản Quản Trị</h2>


<button class="btn btn-secondary" style="margin: 0 auto; width: 130px">
    @Html.ActionLink("Create New", "Create", null, new { style = "color: white;" })
</button>
<br />
<table class="table">
    <thead class="table-info">
        <tr>
            <th>
                Tên Đăng Nhập
            </th>

            <th>
                Tên Nhân Viên
            </th>
            <th>
                Tên Phân Quyền
            </th>
            <th>
                Mật Khẩu
            </th>
            <th>
                Chức Năng
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TENDANGNHAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHANVIEN.TENNHANVIEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHANQUYEN.TENPHANQUYEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MATKHAU)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TENDANGNHAP }) |
                @Html.ActionLink("Details", "Details", new { id = item.TENDANGNHAP }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TENDANGNHAP })
            </td>
        </tr>
    }

</table>

<style>
    .table {
        width: 95%;
        margin: 0 auto;
    }

        .table tr:hover {
            background-color: #f5f5f5;
        }

    table {
        width: 100%;
    }

    td, th {
        border: 1px solid black;
    }
</style>