@model IEnumerable<LaptopShopMVC.Models.TAIKHOANQUANTRI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2 style="text-align:center">Tài Khoản Quản Trị</h2>


<button class="btn btn-secondary" style="margin: 0 auto; width: 130px">
    @Html.ActionLink("Create New", "Create", null, new { style = "color: white;" })
</button>
<br />
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DANH SÁCH TÀI KHOẢN QUẢN TRỊ
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Tên Đăng Nhập</th>
                    <th>Tên Nhân Viên</th>
                    <th>Tên Phân Quyền</th>
                    <th>Mật Khẩu</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Tên Đăng Nhập</th>
                    <th>Tên Nhân Viên</th>
                    <th>Tên Phân Quyền</th>
                    <th>Mật Khẩu</th>
                    <th>Tác vụ</th>
                </tr>
            </tfoot>
            <tbody>
                @{

                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TENDANGNHAP</td>
                            <td>@item.NHANVIEN.TENNHANVIEN</td>
                            <td>@item.PHANQUYEN.TENPHANQUYEN</td>
                            <td>@item.MATKHAU</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.TENDANGNHAP }) |
                                @Html.ActionLink("Details", "Details", new { id = item.TENDANGNHAP }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.TENDANGNHAP })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>