@model IEnumerable<LaptopShopMVC.Models.SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2 style="text-align:center">Sản Phẩm</h2>

<button class="btn btn-secondary" style="margin: 0 auto; width: 130px">
    @Html.ActionLink("Create New", "Create", null, new { style = "color: white;" })
</button>

<br />
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DANH SÁCH SẢN PHẨM
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Mã sản phẩm </th>
                    <th>Tên danh mục</th>
                    <th>Tên thương hiệu</th>
                    <th>Tên sản phẩm</th>
                    <th>Hình</th>
                    <th>Số lượng</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Mã sản phẩm </th>
                    <th>Tên danh mục</th>
                    <th>Tên thương hiệu</th>
                    <th>Tên sản phẩm</th>
                    <th>Hình</th>
                    <th>Số lượng</th>
                    <th>Tác vụ</th>
                </tr>
            </tfoot>
            <tbody>
                @{

                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MASANPHAM</td>
                            <td>@item.DANHMUC.TENDANHMUC</td>
                            <td>@item.THUONGHIEU.TENTHUONGHIEU</td>
                            <td>@item.TENSANPHAM</td>
                            <td><img src="/images/@item.HINH" alt="Alternate Text" width="50" height="30"/></td>
                            <td>@item.SOLUONG</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MASANPHAM }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MASANPHAM }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MASANPHAM })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>