@model IEnumerable<LaptopShopMVC.Models.PHIEUNHAPHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2 style="text-align:center">Phiếu Nhập Hàng</h2>

<button class="btn btn-secondary" style="margin: 0 auto; width: 130px">
    @Html.ActionLink("Create New", "Create", null, new { style = "color: white;" })
</button>
<br />

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        PHIẾU NHẬP HÀNG
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Mã Phiếu nhập</th>
                    <th>Mã nhân viên</th>
                    <th>Tên nhân viên</th>
                    <th>Ngày nhập</th>
                    <th>Tổng Tiền</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Mã Phiếu nhập</th>
                    <th>Mã nhân viên</th>
                    <th>Tên nhân viên</th>
                    <th>Ngày nhập</th>
                    <th>Tổng Tiền</th>
                    <th>Tác vụ</th>
                </tr>
            </tfoot>
            <tbody>
                @{

                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MAPHIEUNHAPHANG</td>
                            <td>@item.MANHANVIEN</td>
                            <td>@item.NHANVIEN.TENNHANVIEN</td>
                            <td>@item.NGAYNHAPHANG</td>
                            <td>@item.TONGTIEN</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MAPHIEUNHAPHANG }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MAPHIEUNHAPHANG }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MAPHIEUNHAPHANG })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
