@model IEnumerable<LaptopShopMVC.Models.DANHMUC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2 style="text-align:center">Danh Mục Sản Phẩm</h2>

<button id="btncreate" class="btn btn-secondary">
    @Html.ActionLink("Create New", "Create",null, new { style = "color: white;"})
</button>
<br />

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DANH SÁCH DANH MỤC
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Mã danh mục</th>
                    <th>Tên danh mục</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Mã danh mục</th>
                    <th>Tên danh mục</th>
                    <th>Tác vụ</th>
                </tr>
            </tfoot>
            <tbody>
                @{

                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MADANHMUC</td>
                            <td>@item.TENDANHMUC</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MADANHMUC }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MADANHMUC }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MADANHMUC })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
