@model LaptopShopMVC.Models.TAIKHOANKHACHHANG

@{
    ViewBag.Title = "Nhaptaikhoankhachhang";
    Layout = "~/Views/Shared/_empty.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                             style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                                    </div>

                                    <form>
                                        <h5>Please fill your informations</h5>

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="form-group">
                                            <p>Tên đăng nhập</p>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.TENDANGNHAP, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.TENDANGNHAP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <p>Mật khẩu</p>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.MATKHAU, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.MATKHAU, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <p>Xác nhận mật khẩu</p>
                                            <div class="col-md-10">
                                                <input style="width: 300px;height: 40px;" type="password" id="XacNhanMatKhau" class="compare-input" />
                                            </div>
                                        </div>
                                        <div id="comparisonResult"></div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            
                                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" id="saveButton">Hoàn Thành</button>
                                        </div>
                                    </form>
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <h4 style="color: black">New to Frica? <a style="color: blue" href="@Url.Action("Nhapkhachhang", "Account")">Create</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">We are more than just a company</h4>
                                    <p class="small mb-0">
                                        Thanks for using our services!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<style>
    .gradient-custom-2 {
        background: #fccb90;
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
</style>
@section scripts {
    <script>
        function compareValues() {
            var value1 = document.getElementById('MATKHAU').value;
            var value2 = document.getElementById('XacNhanMatKhau').value;

            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{6,8}$/;
            if (!regex.test(value1)) {
                document.getElementById('comparisonResult').innerHTML = "Mật khẩu phải có độ dài từ 6 - 8 kí tự, có ít nhất 1 kí tự hoa, 1 kí tự thường, 1 kí tự đặc biệt";
                document.getElementById('saveButton').style.display = "none";
            }
            else if (value1 === value2) {
                document.getElementById('comparisonResult').innerHTML = "";
                document.getElementById('saveButton').style.display = "block";
            } else {
                document.getElementById('comparisonResult').innerHTML = "Xác nhận mật khẩu không hợp lệ!";
                document.getElementById('saveButton').style.display = "none";
            }
        }
        var inputField = document.querySelector('.compare-input');
        var typingTimer;
        var doneTypingInterval = 500; // Adjust the delay as needed

        inputField.addEventListener('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(compareValues, doneTypingInterval);
        });
    </script>
}