@model LaptopShopMVC.Models.CHITIETDONHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CHITIETDONHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DONHANG.MADONHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONHANG.MADONHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TENSANPHAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TENSANPHAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYLAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYLAP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
