@model IEnumerable<LaptopShopMVC.Models.CHITIETDONHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}


<h2 style="text-align:center">Chi Tiết Đơn Hàng</h2>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        CHI TIẾT ĐƠN HÀNG
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Ngày lập</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Ngày lập</th>
                </tr>
            </tfoot>
            <tbody>
                @{

                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MADONHANG</td>
                            <td>@item.DONHANG.KHACHHANG.TENKHACHHANG</td>
                            <td>@item.SANPHAM.TENSANPHAM</td>
                            <td>@item.SOLUONG</td>
                            <td>@item.GIA</td>
                            <td>@item.NGAYLAP</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

