@model LaptopShopMVC.Models.DONHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div style="text-align:center">
    <h2>Xóa Đơn Hàng</h2>
    <h3>Bạn có chắc chắn muốn xóa đơn hàng này?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Đơn Hàng : @Html.DisplayFor(model => model.MADONHANG)
        </dt>

        <dt>
            Tên Khách Hàng : @Html.DisplayFor(model => model.KHACHHANG.TENKHACHHANG)
        </dt>

        <dt>
            Tên Nhân Viên : @Html.DisplayFor(model => model.NHANVIEN.TENNHANVIEN)
        </dt>

        <dt>
            Tổng Tiền : @Html.DisplayFor(model => model.TONGTIEN)
        </dt>

        <dt>
            Ngày Thanh Toán : @Html.DisplayFor(model => model.NGAYTHANHTOAN)
        </dt>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <div class="btn btn-info">
                @Html.ActionLink("Back", "Index", null, new { style = "color: white;" })
            </div>
        </div>
    }
</div>
