@model LaptopShopMVC.Models.PHIEUBAOHANH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div style="text-align:center">
    <h2>Xóa Phiếu Bảo Hành</h2>
    <h3>Bạn có chắc chắn muốn xóa phiếu bảo hành này?</h3>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            Tên Khách Hàng: @Html.DisplayFor(model => model.KHACHHANG.TENKHACHHANG)
        </dd>

        <dd>
            Tên Sản Phẩm: @Html.DisplayFor(model => model.SANPHAM.TENSANPHAM)
        </dd>

        <dd>
            Ngày Bắt Đầu: @Html.DisplayFor(model => model.NGAYBATDAU)
        </dd>

        <dd>
            Ngày Kết Thúc: @Html.DisplayFor(model => model.NGAYKETTHUC)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <div class="btn btn-info">
                @Html.ActionLink("Back", "Index", null, new { style = "color: white;" })
            </div>
        </div>
    }
</div>
