@model LaptopShopMVC.Models.PHIEUBAOHANH

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PHIEUBAOHANH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Khách Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TENKHACHHANG)
        </dd>

        <dt>
            Tên Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TENSANPHAM)
        </dd>

        <dt>
            Ngày Bắt Đầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYBATDAU)
        </dd>

        <dt>
            Ngày Kết Thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYKETTHUC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAPHIEUBAOHANH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
