@model LaptopShopMVC.Models.PHIEUBAOHANH

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<button class="btn btn-info" style="width: 120px">
    @Html.ActionLink("Back", "Index", null, new { style = "color: white;" })
</button>

<div style="text-align:center">
    <h4>Chi Tiết Phiếu Bảo Hành</h4>

    <hr />
    <dl class="dl-horizontal">

        <dd>
            Tên Khách Hàng: @Html.DisplayFor(model => model.KHACHHANG.TENKHACHHANG)
        </dd>

        <dd>
            Tên Sản Phẩm: @Html.DisplayFor(model => model.SANPHAM.TENSANPHAM)
        </dd>

        <dd>
            Ngày Bắt Đầu: @Html.DisplayFor(model => model.NGAYBATDAU)
        </dd>

        <dd>
            Ngày Kết Thúc: @Html.DisplayFor(model => model.NGAYKETTHUC)
        </dd>

    </dl>
</div>
