@model IEnumerable<LaptopShopMVC.Models.PHIEUBAOHANH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2 style="text-align:center">Phiếu Bảo Hành</h2>

<button class="btn btn-secondary" style="margin: 0 auto; width: 130px">
    @Html.ActionLink("Create New", "Create", null, new { style = "color: white;" })
</button>
<br />
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        CHI TIẾT BẢO HÀNH
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Mã bảo hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Sản phẩm</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Mã bảo hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Sản phẩm</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Tác vụ</th>
                </tr>
            </tfoot>
            <tbody>
                @{

                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MAPHIEUBAOHANH</td>
                            <td>@item.KHACHHANG.TENKHACHHANG</td>
                            <td>@item.SANPHAM.TENSANPHAM</td>
                            <td>@item.NGAYBATDAU</td>
                            <td>@item.NGAYKETTHUC</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MAPHIEUBAOHANH }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MAPHIEUBAOHANH }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MAPHIEUBAOHANH })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
