@model IEnumerable<LaptopShopMVC.Models.PHANQUYEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2 style="text-align:center">Phân Quyền</h2>

<button class="btn btn-secondary" style="margin: 0 auto; width: 130px">
    @Html.ActionLink("Create New", "Create", null, new { style = "color: white;" })
</button>
<br />

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DANH SÁCH PHÂN QUYỀN
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Mã Phân Quyền</th>
                    <th>Tên Phân Quyền</th>
                    <th>Quyền Hạn</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Mã Phân Quyền</th>
                    <th>Tên Phân Quyền</th>
                    <th>Quyền Hạn</th>
                    <th>Tác vụ</th>
                </tr>
            </tfoot>
            <tbody>
                @{

                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MAPHANQUYEN</td>
                            <td>@item.TENPHANQUYEN</td>
                            <td>@item.QUYENHAN</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MAPHANQUYEN }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MAPHANQUYEN }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MAPHANQUYEN })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
hu