@model LaptopShopMVC.Models.DANHGIA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div style="text-align:center">
    <h2>Xóa Đánh Giá</h2>
    <h3>Bạn có chắc chắn muốn xóa đánh giá này?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Khách Hàng: @Html.DisplayFor(model => model.KHACHHANG.TENKHACHHANG)
        </dt>

        <dt>
            Tên Sản Phẩm: @Html.DisplayFor(model => model.SANPHAM.MASANPHAM)
        </dt>

        <dt>
            Nội Dung: @Html.DisplayFor(model => model.NOIDUNG)
        </dt>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <div class="btn btn-info">
                @Html.ActionLink("Back", "Index", null, new { style = "color: white;" })
            </div>
        </div>
    }
</div>
