@model LaptopShopMVC.Models.DANHGIA

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DANHGIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Khách Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TENKHACHHANG)
        </dd>

        <dt>
            Tên Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TENSANPHAM)
        </dd>

        <dt>
            Nội Dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MADANHGIA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
