@model LaptopShopMVC.Models.DANHGIA

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DANHGIA</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MADANHGIA)

        <div class="form-group">
            <div class="col-md-10">
                Mã Khách Hàng
                @Html.DropDownList("MAKHACHHANG", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MAKHACHHANG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                Mã Sản Phẩm
                @Html.DropDownList("MASANPHAM", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MASANPHAM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                Nội Dung
                @Html.EditorFor(model => model.NOIDUNG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOIDUNG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="btn btn-secondary" style="margin: 0 auto; width: 130px">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
