@model LaptopShopMVC.Models.CHITIETPHIEUNHAPHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CHITIETPHIEUNHAPHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PHIEUNHAPHANG.MAPHIEUNHAPHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHIEUNHAPHANG.MAPHIEUNHAPHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TENSANPHAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TENSANPHAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONGNHAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONGNHAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYLAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYLAP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
