@model IEnumerable<LaptopShopMVC.Models.CHITIETPHIEUNHAPHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2 style="text-align:center">Chi Tiết Phiếu Nhập Hàng</h2>
<button class="btn btn-secondary" style="margin: 0 auto; width: 130px">
    @Html.ActionLink("Create New", "Create", null, new { style = "color: white;" })
</button>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        PHIẾU NHẬP HÀNG
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Mã phiếu nhập</th>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng nhập</th>
                    <th>Tổng tiền</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Mã phiếu nhập</th>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng nhập</th>
                    <th>Tổng tiền</th>
                    <th>Tác vụ</th>
                </tr>
            </tfoot>
            <tbody>
                @{

                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MAPHIEUNHAPHANG</td>
                            <td>@item.SANPHAM.MASANPHAM</td>
                            <td>@item.SANPHAM.TENSANPHAM</td>
                            <td>@item.SOLUONGNHAP</td>
                            <td>@item.GIA</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MAPHIEUNHAPHANG }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MAPHIEUNHAPHANG }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MAPHIEUNHAPHANG })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
