@model IEnumerable<LaptopShopMVC.Models.CHITIETPHIEUNHAPHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2 style="text-align:center">Chi Tiết Phiếu Nhập Hàng</h2>

<table class="table">
    <thead class="table-info">
        <tr>
            <th>
                Mã Phiếu Nhập Hàng
            </th>
            <th>
                Tên Sản Phảm
            </th>
            <th>
                Số Lượng Nhập
            </th>
            <th>
                Giá
            </th>
            <th>
                Ngày Lập
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PHIEUNHAPHANG.MAPHIEUNHAPHANG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SANPHAM.TENSANPHAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOLUONGNHAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYLAP)
            </td>
        </tr>
    }

</table>
<style>
    table {
        width: 100%;
    }

    td, th {
        border: 1px solid black;
    }

    .table {
        width: 95%;
        margin: 0 auto;
    }

        .table tr:hover {
            background-color: #f5f5f5;
        }
</style>
