@model LaptopShopMVC.Models.KHACHHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<button class="btn btn-info" style="width: 120px">
    @Html.ActionLink("Back", "Index", null, new { style = "color: white;" })
</button>

<div style="text-align:center">
    <h2>Chi Tiết Khách Hàng</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên Khách Hàng: @Html.DisplayFor(model => model.TENKHACHHANG)
            </dt>

            <dt>
                Email: @Html.DisplayFor(model => model.EMAIL)
            </dt>

            <dt>
                Căn Cước Công Dân: @Html.DisplayFor(model => model.CCCD)
            </dt>

            <dt>
                Ngày Sinh: @Html.DisplayFor(model => model.NGAYSINH)
            </dt>

            <dt>
                Địa Chỉ: @Html.DisplayFor(model => model.DIACHI)
            </dt>

            <dt>
                Số Điện Thoại: @Html.DisplayFor(model => model.SDT)
            </dt>

        </dl>
    </div>
</div>

